.headerXPLR a {
    color: var(--secondary-color);
    transition: color 0.2s ease;
}

.headerXPLR a:hover {
    color: var(--tertiary-color);
}

/* header */

.navbar {
    width: 393px;
    height: 110px;
}

.icon-container {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .icon-container img {
    margin-right: 1px;
    width: 29.02px;
    height: 28px;
  }

  .icon-container__logo img {
    align-items: center;
    justify-content: center;
    width: 20%;
    height: 20%;
  }