@import url('https://fonts.googleapis.com/css?family=Mohave');
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    font-family: 'Mohave', sans-serif;
}

html {
    font-size: 62.5%;
}


:root {
    --primary-color: #000000; 
    --secondary-color: #FFFFFF;
    --tertiary-color: #898989;
    --purchase-color: #AA0000;
}