@import url('https://fonts.googleapis.com/css?family=Mohave:400,300&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    font-family: 'Mohave', sans-serif;
}

html {
    font-size: 62.5%;
}


:root {
    --primary-color: #000000; 
    --secondary-color: #FFFFFF;
    --tertiary-color: #898989;
    --purchase-color: #AA0000;
}

.swiper {
    width: 100%;
    height: 100%;
  }
  
  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
  
    /* Center slide text vertically */
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }